<div class="calendar-wrapper" RtlDir>
  <ejs-schedule
    #scheduler
    width="100%"
    height="100%"
    [ngClass]="{ isRtl: currentLang === Lang.arabic }"
    [views]="views"
    [currentView]="currentView"
    [workHours]="workHours"
    [timeScale]="timeScale"
    [selectedDate]="selectedDate"
    [eventSettings]="eventSettings"
    [quickInfoOnSelectionEnd]="true"
    (actionBegin)="onActionBegin($event)"
    (actionComplete)="onActionComplete($event)"
    (actionFailure)="onActionFailure($event)"
    (renderCell)="onRenderCell($event)"
    (eventRendered)="onEventRendered($event)"
  ></ejs-schedule>
</div>
